---
permalink: /manifest.json
---
{
  "$schema": "https://json.schemastore.org/web-manifest-combined.json",
  "name": "{{ site.title }}",
  "short_name": "{{ site.name }}",
  "start_url": ".",
  "display": "standalone",
  "background_color": "#fff",
  "description": "{{ site.description }}",
  "icons": [
  {
   "src": "assets/favicon/favicon.ico",
   "sizes": "16x16",
   "type": "image\/ico",
   "density": "0.75"
  }]
}
