<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ site.title }}{% if section_title %} {{ section_title }}{% endif %}{% if title %}: {{ title }}{% endif %}</title>
  {% if description -%}
    <meta name="description" content="{{ description }}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
  {% endif -%}
  <link rel="canonical" href="{{ page.url | remove: "index.html" | remove: ".html" | prepend: site.url }}">
  {% include 'meta.html' %}
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" href="/assets/main.css">
  <script src="/assets/main.js" type="module"></script>
</head>
