<meta name="keywords" content="Comunity, GNU/Linux, GNU/Weeb"/>
<meta name="subject" content="{{ site.description }}">
<meta name="copyright"content="{{ site.name }}">
<meta name="language" content="English">
<meta name="robots" content="index,follow" />
<meta name="revised" content="" />
<meta name="abstract" content="">
<meta name="topic" content="">
<meta name="summary" content="{{ site.description }}">
<meta name="Classification" content="Comunity">
<meta name="author" content="gnuweeb, gwml@vger.gnuweeb.org">
<meta name="copyright" content="">
<meta name="reply-to" content="gwml@vger.gnuweeb.org">
<meta name="owner" content="ammarfaizi2">
<meta name="url" content="{{ site.url }}">
<meta name="identifier-URL" content="{{ site.url }}">
<meta name="category" content="Tech, GNU/Linux">
<meta name="coverage" content="Worldwide">
<meta name="distribution" content="Global">
<meta name="rating" content="General">
<meta name="revisit-after" content="7 days">
<meta http-equiv="Expires" content="0">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">

<meta name="og:title" content="{{ site.title }}{% if section_title %} {{ section_title }}{% endif %}{% if title %}: {{ title }}{% endif %}"/>
<meta name="og:type" content="{{ site.description }}"/>
<meta name="og:url" content="{{ site.url }}"/>
<meta name="og:image" content="{{ site.images }}"/>
<meta name="og:site_name" content="{{ site.title }}"/>
<meta name="og:description" content="{{ site.description }}"/>
<meta name="fb:page_id" content="" />
<meta name="og:email" content="gwml@vger.gnuweeb.org"/>